<h2>Create Event</h2>

<form class="form-horizontal" method="POST" action="/event/create">
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
    {{ form.name }}
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputDescription">Description</label>
    <div class="controls">
    {{ form.description }}
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputDescription">Start Time</label>
    <div class="controls">
    {{ form.start_time }}
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputDescription">Location</label>
    <div class="controls">
    {{ form.location }}
    </div>
  </div>
    
  <div class="control-group">
    <div class="controls">    
    <button type="submit" class="btn">Create</button>
    </div>
  </div>
</form>