<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>AmongU</title>

  <!-- Included CSS Files -->
  
  <link rel="stylesheet" href="/media/css/normalize.css">
  <link rel="stylesheet" href="/media/css/foundation.css">
  <link rel="stylesheet" href="/media/css/style.css">
    
  <script src="http://twitter.github.io/bootstrap/assets/js/jquery.js"></script>
  <script src="/media/js/vendor/custom.modernizr.js"></script>
  
  
  <link href="/media/css/style.css" rel="stylesheet" />
  <script src="/media/js/facebook_api.js"></script>
  <script src="/media/js/script.js"></script>

</head>
<body>

  <!-- Header and Nav -->

  
  
  <div class="row">
    <div class="contain-to-grid sticky">
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="#">AmongU </a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
          <li class="active">    
            <li class="has-form">
                <form class="navbar-search pull-left imput-append" style="width: 100%">
                      <input id="txtsearch" type="text" onkeyup="search($(this).val(), xhr_search+1);" class="search-query" placeholder="Search" style="width: 100%">
                      <button id="btnclear_search" onclick="clear_search()" class='btn add-on btn-inverse' type="button" style='font-size: x-large'>&times;</button>
                      <script>$('#btnclear_search').hide();</script>
                  </form>
              </li></li>
          <li class="divider"></li> 
          <li><img src="/media/img/white_amongu_message_icon.png" width="40px" height="40px" class="message_icon"/></li>
          <li class="divider"></li>
         
          <li class="has-dropdown"><img src="/media/img/amongu_notifications.png" width="38px" height="38px" class="notification_icon"/>

            <ul class="dropdown">
              <li><a href="#">You've been invited to 'Fairfield Education Reform Initiative'</a></li>
              <li><a href="#">John Stine commented on your comment: 'We've got to find the bliss in education, else suffering and ineffectuality are inevitable'</a></li>
              <li class="divider"></li>
              <li><a href="#">Mary Jane and 11 others have joined your event 'Reggae Music Festival'</a></li>
              <li><a href="#">Bob Daniels invited you to join the group 'Entrepreneur's Association of Fairfield'</a></li>
              <li><a href="#">Max Dim and 18 others have joined your group 'Midwest Hackers'</a></li>
              <li class="divider"></li>
              <li><a href="#">See all &rarr;</a></li>
            </ul>
          </li>
          <li class="divider"></li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider hide-for-small"></li>
          <li class="has-dropdown">
            <span class="pLoginDone">
                    <img id="imgUser" src="#" class="headerprofileimage pPhotoUrl" style="width: 40px; height: 40px;" />&nbsp;
              <a href="#" class=".pProfileUrl"><span class="pName"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
            
         </li>
          <li class="divider"></li>
      
          <li class="divider show-for-small"></li>
          <li class="has-form">
            
            <span class="pLoginWait"><img id="please-wait" src="http://loadinggif.com/generated-image?imageId=30&bgColor=%23000000&fgColor=%23ffffff&transparentBg=1&download=0&random=0.554676596308127" /></span>
            
                    <span class="pLoginBad"><a id="facebook-new-login" onclick="login()" href="#"><img src="http://static.bambuser.com/r/img/webservices/facebook-login-button.png" alt="Login with Facebook" /></a></span>
                    
                    <span class="pLoginDone">
                      <a href="#" onclick="logout();"><img src="http://www.picturehealing.com/dashboard/app/Assets/fblogout.png" /></a>
            </span>
          </li>
        </ul>
      </section>
    </nav>
    </div>    
    
  <!-- End Header and Nav -->


  <div class="row">



 <!-- Nav Sidebar -->
        <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 columns push-3" id="main_content">
      
      <div class="panel large-12" id="sub_nav">
        <div class="row">
          <div class="large-6 columns">
            <ul class="button-group">
              <li><a href="javascript:void(0);" class="button">List</a></li>
              <li><a href="javascript:void(0);" class="button">Calendar</a></li>
            </ul>
          </div>
          <div class="large-6 columns">
            <ul class="button-group">
              <li><a href="javascript:void(0);" class="button" onclick="display_event_create();">+ Create Event</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="search_feed">
        
      </div>
      <div id="news_feed"></div>

    </div>

    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 columns pull-9">
      <div class="panel">
        <a href="#"><img class="pPhotoUrl" style="height: 178px; width: 178px;" src="http://placehold.it/300x240&text=AmongU" /></a>
        <h5><a href="#" class="pName"></a></h5>
        
        <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
      <section class="section">
        <h5 class="title"><a href="#">Stream</a></h5>
      </section>
      <section class="section">
        <h5 class="title"><a href="#">Groups</a></h5>
      </section>
      <section class="section">
        <h5 class="title"><a href="#" onclick="display_news_feed();">Events</a></h5>
      </section>
      <section class="section">
        <h5 class="title"><a href="#">News</a></h5>
      </section>
      <section class="section">
        <h5 class="title"><a href="#">Chat</a></h5>
      </section>
      </div>

      </div>
    </div>
 
 
    <!-- Right Sidebar 
 
    <aside class="large-3 columns hide-for-small">
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
    </aside>-->

  </div>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright AmongU</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
 /* document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')*/
  </script>
  <script src="/media/js/foundation.min.js"></script>
  <script>
   // $(document).foundation(); 
  </script>
  
  
  <!-- TEMPLATES -->
  <div style="display:none">
    
    
    <div class="row">
      <div class="small-12 large-12 columns">
        <p><a href="javascript:void(0);" onclick="show_event_description('{event.id}');"><strong>{event.name}</strong></a><br /><span id="event{event.id}">{event.start_time}</span><br/><span id="eventdesc{event.id}"></span></p>
        <ul class="inline-list">
          <li><a href="">Reply</a></li>
          <li><a href="">Share</a></li>
        </ul>
      </div>
    </div><hr />
    
    
  </div>

</body>
</html>






















<!--    <div class="container-fluid">
      <div class="row-fluid" style="padding-top: 20px;">
        <div class="span3">
          <div class="pLoginDone row-fluid">
           
            <div class="span9">
                
                <br >
                <input type="text" onkeyup="user_city=$(this).val();display_news_feed(encodeURIComponent(user_city), false);" id="txtLocation"></input>
            </div>            
          </div>
          
          <br />
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li><a onclick="display_create_event();" href="#">Create Event</a></li>
              <li class="nav-header"></li>
              <li><a onclick="display_home_feed();" href="#">Stream</a></li>
              <li><a href="#">Posts</a></li>
              <li class="active"><a href="#">Events</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Chat</a></li>
              <li class="nav-header"><a href="#">Groups</a></li>
              <li><a href="#" onclick="search('concert')">Music</a></li>
              <li><a onclick="display_create_group();" href="#">Create Group</a></li>              
            </ul>
          </div>
        </div>
        <div class="span9" id="main_content">
         <div id="search_feed">
            <h4><span class="muted">Searching for </span><span id="search_term"></span></h4>
         </div><script>$('#search_feed').hide();</script>
         <div id="news_feed">
          <div class="media">
            <a class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/64x64">
            </a>
            <div class="media-body">
            <h4 class="media-heading"></h4>            
            </div>
          </div>          
         </div>         
        </div>
      </div>-->

